<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel='stylesheet' href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/formCreate.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />


  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="layout-header">
    <% include navbar.ejs %>

  </header>

  <main class="layout-main">
    <% include title.ejs %>

      <form action="/create" method="post" class="container-form">

        <p class="p">
          <%= __("Create an ad")%>
        </p>

        <label class="form-label" for="name">
          <%=__("Article")%>
        </label>
        <input class="form-input" name="name" id="name" type="text" placeholder="<%=__(" Enter the name")%>">

        <div class="form-label">
          <label class="form-label" for="state">Vender</label>
          <input className="form-input" type="radio" name="state" value="true" />

          <label class="form-label" for="state">Comprar</label>
          <input type="radio" class="form-input" name="state" id="state" value="false" />
        </div>

        <label class="form-label" for="price">
          <%=__("Price")%>
        </label>
        <input class="form-input" name="price" id="price" type="number" placeholder="<%=__(" Enter a price")%>">

        <label class="form-label" for="tag">
          <%=__("Tags (lifestyle,work,motor,mobile)")%>
        </label>
        <input class="form-input" name="tags" id="tag" type="text" placeholder="<%=__(" Enter a tag")%>">

        <label class="form-label" for="img">
          <%=__("image")%>
        </label>
        <input class="form-label-img" name="img" id="img" type="file" placeholder="<%=__(" Enter an image")%>">

        <button class="button" type="submit">
          <%=__("Create")%>
        </button>
      </form>

      <% if (!!saveAd) { %>
        <p class="form-label">
          <%=__("Successfully created ad:")%>
            <%= saveAd.name%>
        </p>
        <% } %>



  </main>

  <% include footer.ejs %>