<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href="/stylesheets/form.css">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <% include title.ejs %>

    <form action="/create" method="post">
      <div class="form">
        <p class="p">
          <%= __("Create an ad")%>
        </p>

      </div>
      <div class="form">
        <label class="label" for="name">Artículo</label>
        <input class="select" name="name" id="name" type="text" placeholder=<%=__("Enter the name")%>>
      </div>
      <div class="form">
        <label class="label" for="state">Estado venta/compra</label>
        <input class="select" name="state" id="state" type="text" placeholder=<%=__("Enter true or false")%>>
      </div>
      <div class="form">
        <label class="label" for="price">Precio</label>
        <input class="select" name="price" id="price" type="number" placeholder=<%=__("Enter a price")%>>
      </div>
      <div class="form">
        <label class="label" for="tag">tags (lifestyle, mobile, motor, work)</label>
        <input class="select" name="tags" id="tag" type="text" placeholder=<%=__("Enter a tag")%>>
      </div>
      <div class="form">
        <label class="label" for="img">imagen</label>
        <input class="select" name="img" id="img" type="text" placeholder=<%=__("Enter an image")%>>
      </div>
      <div class="form">
        <button class="button" type="submit">Crear</button>
      </div>

    </form>

    <% if (!!saveAd) { %>
      <div class="form">
        <p class="select">
          <%=__("Successfully created ad:")%>
            <%= saveAd.name%>
        </p>
      </div>

      <% } %>
        <!--  -->
        <div class="form">
          <ul>
            <li class="links"><a class="links" href="http://127.0.0.1:3001/filter">
                <%=__("filtering and search")%>
              </a></li>
            <li class="links"><a class="links" href="http://127.1.1.0:3001">
                <%=__("Home")%>
              </a></li>
          </ul>
        </div>

        <% include footer.ejs %>

</body>

</html>