<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel='stylesheet' href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />

  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="layout-header">
    <% include navbar.ejs %>

  </header>

  <% include title.ejs %>
    <main class="layout-main">


      <form class="form" action="/filter" method="get">

        <input class="button" type="submit" value=<%=__("Catalogue")%> />
        <label class="label" for="limit"></label>
        <button class="button" id="limit" name="limit" value="2">
          <%=__("2 ads")%>
        </button>

        <label class="label" for="limit2"></label>
        <button class="button" id="limit2" name="limit" value="4">
          <%=__("4 ads")%>
        </button>

        <label class="label" for="skip"></label>
        <button class="button" id="skip" name="skip" value="4">
          <%=__("Skip 4")%>
        </button>

      </form>

      <form class="form" action="/filter" method="get">
        <label class="label">
          <%=__("By order")%>
        </label>

        <select class="select" name="sort" id="sort">
          <option value="">
            <%=__("Choose")%>
          </option>
          <option value="name">
            <%=__("Name")%>
          </option>
          <option value="price">
            <%=__("Price")%>
          </option>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>
      <form class="form" action="/filter" method="get">

        <label class="label">
          <%=__("Select an item")%>
        </label>

        <select class="select" name="name" id="name">
          <option value="">
            <%=__("Choose")%>
          </option>
          <% filterAds.forEach(ad=> { %> <option value="<%= ad.name %>">
              <%=__(ad.name)%>
            </option> })
            <%})%>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>

      <form class="form" action="/filter" method="get">

        <label class="label">
          <%=__("select a letter")%>
        </label>

        <select class="select" name="name" id="name">
          <option value="">
            <%=__("Choose")%>
          </option>
          <option value="r">R</option>
          <option value="N">N</option>
          <option value="P">P</option>
          <option value="x">x</option>
          <option value="S">S</option>
          <option value="r">r</option>
          <option value="p">p</option>
          <option value="y">y</option>
          <option value="p">p</option>
          <option value="E">E</option>
          <option value="A">A</option>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>

      <form class="form" action="/filter" method="get">

        <label class="label">
          <%=__("Select a field")%>
        </label>

        <select class="select" name="fields" id="fields">
          <option value="">
            <%=__("Choose")%>
          </option>
          <option value="img">
            <%=__("Image")%>
          </option>
          <option value="price">
            <%=__("Price")%>
          </option>
          <option value="name">
            <%=__("Name")%>
          </option>
        </select>

        <label class="label">
          <%=__("Select an item")%>
        </label>

        <select class="select" name="name" id="name">
          <option value="">
            <%=__("Choose")%>
          </option>
          <% filterAds.forEach(ad=> { %> <option value="<%= ad.name %>">
              <%=__(ad.name)%>
            </option> })
            <%})%>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>

      <form class="form" action="/filter" method="get">

        <label class="label">
          <%=__("Select a tag")%>
        </label>

        <select class="select" name="tags" id="tags">
          <option value="">
            <%=__("Choose")%>
          </option>
          <option value="lifestyle">
            <%=__("lifestyle")%>
          </option>
          <option value="mobile">
            <%=__("Mobile")%>
          </option>
          <option value="motor">
            <%=__("Engine")%>
          </option>
          <option value="work">
            <%=__("Work")%>
          </option>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>

      <form class="form" action="/filter" method="get">

        <label class="label">
          <%=__("Select a state")%>
        </label>

        <select class="select" name="state" id="state">
          <option value="">
            <%=__("Choose")%>
          </option>
          <option value="true">
            <%=__("Sale")%>
          </option>
          <option value="false">
            <%=__("Buys")%>
          </option>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>

      <form class="form" action="/tags" method="get">

        <label class="label">
          <%=__("different")%>
        </label>

        <select class="select" name="tags" id="tags">
          <option value="tags">
            <%=__("Tags")%>
          </option>
        </select>

        <input class="button" type="submit" value=<%=__("Show")%> />

      </form>

      <div class="container">
        <% filterAds.forEach(elem=> { %>
          <% if (elem.name && elem.price) { %>
            <p class="ad">
              <%= __("Article") %>
                <%= __(elem.name) %>
                  <%= __(elem.adStatus) %>
                    <%= __("and its price is") %>
                      <%= elem.price %>
                        <%= __("Euro") %>
                          <% if (elem.img && elem.img !=="" ) { %>
                            <img class="image" src="images/<%= elem.img %>" />
                            <% } else { %>
                              <img class="image" src="images/foto-error.jpg" />
                              <% } %>
                                <span class="span">
                                  <%= elem.tags %>
                                </span>
            </p>
            <% } else if (elem.name) { %>
              <p>
                <%= __("Article") %>
                  <%= elem.name %>
              </p>
              <% } else if (elem.price) { %>
                <p>
                  <%= __("and its price is") %>
                    <%= elem.price %>
                      <%= __("Euro") %>
                </p>
                <% } else { %>
                  <% if (elem.img && elem.img !=="" ) { %>
                    <img class="image" src="images/<%= elem.img %>" />
                    <% } else { %>
                      <img class="image" src="images/foto-error.jpg" />
                      <% } %>
                        <% } %>
                          <% }) %>
      </div>




    </main>

    <% include footer.ejs %>