<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel='stylesheet' href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
  <link rel="stylesheet" href="/stylesheets/form.css" />


  <title>
    <%= title %>
  </title>
</head>

<body>
  <header class="layout-header">
    <% include navbar.ejs %>

  </header>

  <main class="layout-main">
    <% include title.ejs %>


      <form class="form" action="/filter" method="get">
        <input class="button" type="submit" value="Catálogo" />
        <label class="label" for="limit"></label>
        <button class="button" id="limit" name="limit" value="2">
          2 anuncios
        </button>
        <label class="label" for="limit2"></label>
        <button class="button" id="limit2" name="limit" value="4">
          4 anuncios
        </button>
        <label class="label" for="skip"></label>
        <button class="button" id="skip" name="skip" value="4">Skip 4</button>
      </form>

      <form class="form" action="/filter" method="get">
        <label class="label">por orden</label>
        <select class="select" name="sort" id="sort">
          <option value="">Elige</option>
          <option value="name">Nombre</option>
          <option value="price">precio</option>
        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>
      <form class="form" action="/filter" method="get">
        <label class="label">Selecciona un artículo</label>
        <select class="select" name="name" id="name">
          <option value="">Elige</option>
          <% filterAds.forEach(ad=> { %> <option value="<%= ad.name %>">
              <%=ad.name%>
            </option> })
            <%})%>

        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>

      <form class="form" action="/filter" method="get">
        <label class="label">Selecciona la letra </label>
        <select class="select" name="name" id="name">
          <option value="">Elige</option>
          <option value="r">R</option>
          <option value="N">N</option>
          <option value="P">P</option>
          <option value="x">x</option>
          <option value="S">S</option>
          <option value="r">r</option>
          <option value="p">p</option>
          <option value="y">y</option>
          <option value="p">p</option>
          <option value="E">E</option>
          <option value="A">A</option>
        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>

      <form class="form" action="/filter" method="get">
        <label class="label"> Selecciona un campo </label>
        <select class="select" name="fields" id="fields">
          <option value="">Elige</option>
          <option value="img">Imagen</option>
          <option value="price">Precio</option>
          <option value="name">Nombre</option>
        </select>

        <label class="label">Selecciona un artículo</label>
        <select class="select" name="name" id="name">
          <option value="">Elige</option>
          <% filterAds.forEach(ad=> { %> <option value="<%= ad.name %>">
              <%=ad.name%>
            </option> })
            <%})%>
        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>

      <form class="form" action="/filter" method="get">
        <label class="label"> Selecciona un tags</label>
        <select class="select" name="tags" id="tags">
          <option value="">Elige</option>
          <option value="lifestyle">lifestyle</option>
          <option value="mobile">movil</option>
          <option value="motor">motor</option>
          <option value="work">trabajo</option>
        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>

      <form class="form" action="/filter" method="get">
        <label class="label">Selecciona estado </label>
        <select class="select" name="state" id="state">
          <option value="">Elige</option>
          <option value="true">Venta</option>
          <option value="false">Compra</option>
        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>

      <form class="form" action="/tags" method="get">
        <label class="label"> Distintos</label>
        <select class="select" name="tags" id="tags">
          <option value="tags">Tags</option>
        </select>
        <input class="button" type="submit" value="Mostrar" />
      </form>

      <div class="container">
        <% filterAds.forEach(elem=> { %> <% if(elem.name && elem.price && elem.img) {%>
            <p class="ad">
              Articulo <%= elem.name %>
                <%= elem.adStatus %> y su precio es de <%= elem.price %> euros
                    <img class="image" src="../images/<%= elem.img %>.jpg" />
                    <span class="span">
                      <%= elem.tags %>
                    </span>
            </p>

            <% } else if(elem.name) { %>
              <p>Articulo <%= elem.name %>
              </p>
              <% } else if(elem.price){ %>
                <p>Su precio es de <%= elem.price %> euros</p>
                <% } else { %>
                  <img class="image" src="../images/<%= elem.img %>.jpg" />
                  <% } %>
                    <% }) %>
      </div>

      <div class="form">
        <ul>
          <li class="links"><a class="links" href="http://127.1.1.0:3001/create">Crea un anuncio</a></li>
          <li class="links"><a class="links" href="http://127.1.1.0:3001/range/659">Rango de precios</a></li>
          <li class="links"><a class="links" href="http://127.1.1.0:3001">Home</a></li>
        </ul>
      </div>

  </main>

  <% include footer.ejs %>