<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href="/stylesheets/form.css">

  <title>
    <%= title %>
  </title>
</head>

<body>

  <% include title.ejs %>

    <div class="form">
      <ul class="label">
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/559-800" rel="noreferrer noopener">
            <%=__("price between")%>559<%=__("and")%> 800
                euros
          </a>
        </li>
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/5000-20000" rel="noreferrer noopener">
            <%=__("price between")%>5000<%=__("and")%>
                20000<%=__("Euro")%>
          </a>
        </li>
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/-200" rel="noreferrer noopener">
            <%=__("price less than or equal to")%>
              200<%=__("Euro")%>
          </a>
        </li>
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/-5000" rel="noreferrer noopener">
            <%=__("price less than or equal to")%>
              50000<%=__("Euro")%>
          </a>
        </li>
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/15000-" rel="noreferrer noopener">
            <%=__("price less than or equal to")%>
              15000<%=__("Euro")%>
          </a>
        </li>
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/5000-" rel="noreferrer noopener">
            <%=__("price less than or equal to")%>
              5000<%=__("Euro")%>
          </a>
        </li>
        <li class="links-a">
          <a class="links-a" href="http://127.0.0.1:3001/range/659" rel="noreferrer noopener">
            <%=__("exact price of")%>659<%=__("Euro")%>
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
      <% priceRange.forEach(elem=> { %>
        <p>Articulo <%= elem.name %>
            <%= elem.adStatus %> y su precio es de
              <%= elem.price %>
                <%=__("Euro")%>
                  <img class="image" src="../images/<%= elem.img %>.jpg" /> <span class="span">
                    <%= elem.tags %>
                  </span>
                  <% }) %>
        </p>
    </div>

    <div class="form">
      <p></p>
      <ul>
        <li class="links"><a class="links" href="http://127.0.0.1:3001/filter">Fitrado y busqueda</a></li>
        <li class="links"><a class="links" href="http://127.1.1.0:3001/create">Crea un anuncio</a></li>
        <li class="links"><a class="links" href="http://127.1.1.0:3001">Home</a></li>
      </ul>
    </div>

    <% include footer.ejs %>

</body>

</html>